@import "tailwindcss";

:root {
  --background: #FEEEDF;
  --foreground: #DEE5D4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 3. Assign fonts to Tailwind's theme */

  /* Tell Tailwind to use the variables already defined in app/layout.tsx */
  --font-sans: var(--font-sans);
  --font-header: var(--font-header);

  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2dede;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* 4. Body uses --font-sans (Concert One) by default */
  font-family: var(--font-sans);
}

/* 5. (Optional but helpful) Apply header font to h-tags by default */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}